<footer class="pb-5 bg-primary-alt">
  <div class="container-fluid text-center">
    <div class="mb-4">
      <a [routerLink]="['/']" class="navbar-brand fade-page" style="color:#495057; font-size: 36pt;">
        AR Sounds
      </a>
    </div>
    <div class="mb-4">
      <a href="#" class="btn btn-primary mx-2">
        <img class="icon me-1" src="./assets/images/apple.svg" alt="Apple Store" /> App Store
      </a>
      <a href="#" class="btn btn-primary mx-2">
        <img class="icon me-1" src="./assets/images/googleplay.svg" alt="Google Play" /> Google Play
      </a>
    </div>
    <div>
      <small class="container text-muted">
        &copy; 2019 All Rights Reserved. Your Brand® is a registered trademark of Your Company. Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. Mac App Store is a service mark of Apple Inc. Google Play and the Google Play logo are trademarks of Google Inc.
      </small>
    </div>
  </div>
</footer>
