<footer class="pb-5 bg-primary-alt">
  <div class="container">
    <div class="row mb-4 justify-content-center">
      <div class="col-auto">
        <a [routerLink]="['/']" class="navbar-brand fade-page" style="color:#495057; font-size: 36pt;">
          AR Sounds
        </a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto d-flex">
        <a href="#" class="btn btn-primary mx-2">
          <img class="icon" src="./assets/img/icons/social/apple.svg" alt="apple social icon"/>App Store
        </a>
        <a href="#" class="btn btn-primary mx-2">
          <img class="icon" src="/assets/img/icons/social/googleplay.svg" alt="googleplay social icon"/>Google Play
        </a>
      </div>
    </div>
    <div class="row justify-content-center mt-5 mb-5">
      <div class="col-auto">
        <ul class="nav">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="icon undefined" src="/assets/img/icons/social/instagram.svg" alt="instagram social icon"/>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="icon undefined" src="/assets/img/icons/social/twitter.svg" alt="twitter social icon"/>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="icon undefined" src="/assets/img/icons/social/youtube.svg" alt="youtube social icon"/>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="icon undefined" src="/assets/img/icons/social/medium.svg" alt="medium social icon"/>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="icon undefined" src="/assets/img/icons/social/facebook.svg" alt="facebook social icon"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-xl-10">
        <small class="text-muted">
          &copy;2019 All Rights Reserved. Your Brand® is a registered trademark of Your Company. Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. Mac App Store is a service mark of Apple Inc. Google
          Play and the Google Play logo are trademarks of Google Inc.
        </small>
      </div>
    </div>
  </div>
</footer>
