<header>
  <div class="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-light bg-primary-alt" data-sticky="top">
      <div class="container">
        <a [routerLink]="['/']" class="navbar-brand fade-page" style="color:#495057; font-size: 19pt;">
          AR Sounds
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <img class="icon navbar-toggler-open" src="/assets/img/icons/interface/menu.svg" />
          <img class="icon navbar-toggler-close" src="/assets/img/icons/interface/cross.svg" />
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <div class="py-2 py-lg-0">
            <ul class="navbar-nav">
              <li class="nav-item"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link nav-link-icon" [routerLink]="['/targets']">
                  <i class="fas fa-list"></i>
                  <span class='nav-link-inner--text d-lg-none'>Targets</span>
                </a>
              </li>
              <li class="nav-item"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link nav-link-icon" [routerLink]="['/logout']">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                  <span class='nav-link-inner--text d-lg-none'>Log Out</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
