<!--@model ARSounds.Implementation.Models.FiltersTargetViewModel

<div class="modal fade" role="dialog" id="filters-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
        <div class="m-xl-4 m-3">
          <div class="text-center mb-4">
            <h4 class="h3 mb-1">Advanced filters</h4>
            <span>
              Adjust the filters to display the results you want.
            </span>
          </div>
          <div class="form-group lead">
            @Html.LabelFor(m => m.SortBy, new { @class = "text-primary-3 pt-2 pr-3" })
            <span>
              @Html.DropDownListFor(m => m.SortBy,
              new List<SelectListItem>
                ()
                {
                new SelectListItem() { Value = "Date (Ascending)", Text = "Create Date (Asc)" },
                new SelectListItem() { Value = "Date (Descending)", Text = "Create Date (Desc)" },
                new SelectListItem() { Value = "Rate (Ascending)" , Text = "Rate (Asc)" },
                new SelectListItem() { Value = "Rate (Descending)", Text = "Rate (Desc)" }
                },
                new { @class = "form-control select-md" })
            </span>
          </div>
          <div class="form-group">
            @Html.LabelFor(m => m.DateCreatedFrom, new { @class = "text-primary-3" })
            @Html.TextBoxFor(m => m.DateCreatedFrom, new { @type = "datetime-local", @class = "form-control" })
          </div>
          <div class="form-group">
            @Html.LabelFor(m => m.DateCreatedTo, new { @class = "text-primary-3" })
            @Html.TextBoxFor(m => m.DateCreatedTo, new { @type = "datetime-local", @class = "form-control" })
          </div>
          <div class="form-group custom-control custom-checkbox mb-4">
            @Html.CheckBoxFor(m => m.IsActive, htmlAttributes: new { @class = "custom-control-input" })
            @Html.LabelFor(m => m.IsActive, new { @class = "custom-control-label text-primary-3 text-small" })
          </div>
          <div class="row m-auto mb-0 justify-content-center">
            <div class="form-group m-0">
              <button type="button" class="btn btn-block btn-secondary p-1 mr-2" data-dismiss="modal">Cancel</button>
            </div>
            <div class="form-group m-0">
              <button class="btn btn-block btn-primary p-1 ml-2" type="submit">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
