<form (ngSubmit)="onSubmit()" #targetForm="ngForm">
  <div class="modal-header border-0">
    <h5 class="modal-title">Edit track</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">&times;</button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="description">
        Description
      </label>
      <input type="text"
             class="form-control"
             id="description"
             required
             [(ngModel)]="target.description"
             name="description"
             #description="ngModel">
      <small [hidden]="description.valid || description.pristine" class="text-danger">
        Description is required
      </small>
    </div>
    <div class="form-group">
      <label for="hex_color">
        Color
      </label>
      <input type="color"
             class="form-control"
             id="hex_color"
             [(ngModel)]="target.hex_color"
             name="hex_color"
             #hex_color="ngModel" />
    </div>
    <div class="form-group mb-0">
      <label for="is_trackable" class="mr-2">
        Is Trackable
      </label>
      <input type="checkbox"
             id="is_trackable"
             [(ngModel)]="target.is_trackable"
             name="is_trackable"
             #is_trackable="ngModel">
    </div>
  </div>
  <div class="modal-footer border-0">
    <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss('Cancel')">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="!targetForm.form.valid || submitted">Save</button>
  </div>
</form>
